  	<ion-view hide-nav-bar="true">
    <ion-content class="padding">
      	<div class="list">

      		<label class="item item-input">
    			<input type="text" ng-model="users.adress" ng-value="users.adress" required="">
  			</label>
  			
  			<label class="item item-input">
    			<input type="text" ng-model="users.age" ng-value="users.age" required="">
  			</label>

  			<label class="item item-input">
    			<input type="text" ng-model="users.phone" ng-value="users.phone" required="">
  			</label>  			

  			<button class="button button-full button-positive opacity" ng-click="updateData()">
  				Modifier
			</button>

			<a href="#/tab/profil" class="button button-full button-dark opacity">Annuler</a>

		</div>
  	</ion-content>
